// Colours
// TODO: colours should define a pallet ie: blue, grey, darkGrey these should then be used by element styles ie: textColour footerTextColour 
$textColourMuted: rgb(136, 136, 136) !default;
$textColourLink: rgb(2, 136, 209) !default;
$borderColour: rgb(224, 224, 224) !default; 
$bodyText: rgb(33, 33, 33) !default;


//fonts
$defaultFontFamily: "Noto Sans", Arial, Helvetica, sans-serif, sans-serif;
$altFontFamily: "Noto Serif", serif;

// breakpoints
$phone: 599px;
$tablePortraite: 600px;
$tabletLandscape: 900px;
$desktop: 1200px;
$largeDesktop: 1600px;
