// Colours
// TODO: colours should define a pallet ie: blue, grey, darkGrey these should then be used by element styles ie: textColour footerTextColour 
$white: #fff;
$textColourMuted: rgb(136, 136, 136) !default; //colourTextSecondary
$colourPrimary: rgb(2, 136, 209) !default;
$borderColour: rgb(224, 224, 224) !default; 
$bodyText: rgb(33, 33, 33) !default; //colourText
$colourSecondary: rgb(247, 247, 247) !default;
$colourTextReverse: $white !default;
$colourDanger: rgb(207, 12, 78);

//fonts
$defaultFontFamily: "Noto Sans", Arial, Helvetica, sans-serif, sans-serif;
$fontHeading: "Noto Sans SemiBold", Arial, Helvetica, sans-serif;
$altFontFamily: "Noto Serif", serif;
$fontReading: "Noto Serif", serif;
$fontWriting: "Noto Sans", Arial, Helvetica, sans-serif;
$fontSizeSmall: 14px;

//sizing
$lineHeightBase: 1.5rem;
$lineHeightBaseSmall: 1.125rem;

// breakpoints
$phone: 480px;
$tabletPortrait: 768px;
$tabletLandscape: 1000px;
$desktop: 1272px;
