// Colours
$white: rgb(255,255,255);

//text
$colourText: rgb(33, 33, 33) !default; //colourText
$colourTextSecondary: rgb(136, 136, 136) !default; //colourTextSecondary
$colourTextLarge: rgb(149,149,149) !default; //colourTextSecondary
$colourTextReverse: $white !default;

//main
$colourPrimary: rgb(8, 122, 204) !default;
$colourSecondary: rgb(247, 247, 247) !default;
$borderColour: rgb(224, 224, 224) !default;
$colourError: rgb(207, 12, 78);
$colourORCID: rgb(166, 206, 57);
$colourSuccess: rgb(51,136,8);
$colourTextPlaceholder: rgb(189, 189, 189);

//fonts
$defaultFontFamily: "Noto Sans", Arial, Helvetica, sans-serif, sans-serif;
$fontStrong: "Noto Sans SemiBold", Arial, Helvetica, sans-serif;
$altFontFamily: "Noto Serif", serif;
$fontReading: "Noto Serif", serif;
$fontWriting: "Noto Sans", Arial, Helvetica, sans-serif;
$fontSizeSmall: 14px;

//sizing
$lineHeightBase: 1.5rem;
$lineHeightBaseSmall: 1.125rem;

//border
$borderRadius: 3px;
$borderWidth: 1px;
$borderStyle: solid;

$border: $borderWidth $borderStyle $borderColour;

// breakpoints
$phone: 480px;
$tabletPortrait: 768px;
$tabletLandscape: 1000px;
$desktop: 1272px;

// borders
$borderRadiusRounded: 50%;
