@function _buildIcon($icon, $width, $height, $viewBox) {
  $icon: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="#{$viewBox}" width="#{$width}" height="#{$height}">#{$icon}</svg>';
  @return $icon;
}

@function icon(
  $icon-name, 
  $color,
  $width: 24,
  $height: 24,
  $viewBox: 0 0 24 24
  ){
  $icons: (
    check: '<path fill="#{$color}" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>'
  );
  
  $icon: _buildIcon(map-get($icons, $icon-name), $width, $height, $viewBox);
  @return url('data:image/svg+xml;utf8,#{$icon}');
}