@mixin forSize($size) {
  @if $size == phoneOnly {
    @media (max-width: $tabletPortrait) { @content; }
  } @else if $size == tabletPortraitUp {
    @media (min-width: $tabletPortrait) { @content; }
  } @else if $size == tabletLandscapeUp {
    @media (min-width: $tabletLandscape) { @content; }
  } @else if $size == desktopUp {
    @media (min-width: $desktop) { @content; }
  } 
}

@mixin unstyledList {
  padding: 0;
  margin: 0;
  list-style: none;
}