@import './_config.scss';
@import './_fonts.scss';
@import './_mixins.scss';
@import './_global.scss';

//ui
@import '../../ui/styles/index';

//dashboard
@import '../../dashboard/styles/dashboard';

.site-content {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;

    @include forSize('desktopUp') {
        width: 1272px;
    }
}