{{- if .Values.ingress.enabled -}}
{{- $serviceName := printf "%s-%s" (include "libero-reviewer.fullname" .) ("client") -}}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ include "libero-reviewer.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "libero-reviewer.name" . }}
    helm.sh/chart: {{ include "libero-reviewer.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
{{- with .Values.ingress.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}
{{- with .Values.ingress.main.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - path: /
            backend:
              serviceName: {{ printf "%s-%s" (include "libero-reviewer.fullname" . ) ("client") }}
              servicePort: 80
          - path: /meca-result
            backend:
              serviceName: {{ printf "%s-%s" (include "libero-reviewer.fullname" . ) ("submission") }}
              servicePort: {{ .Values.submission.port}}
          - path: /authenticate
            backend:
              serviceName: {{ printf "%s-%s" (include "libero-reviewer.fullname" . ) ("continuum-adaptor") }}
              servicePort: {{ .Values.continuumAdaptor.port}}
{{- end -}}
