# Logs
logs
*.log

# dotenv environment variables file
.env

# docker compose
docker-compose.override.yml

# mac attribute file
*.DS_Store

# vs code
.vscode

# docker volume location for ci/testing
.data/

node_modules