version: '3'
services:
  # Underlying services 
  postgres:
    image: postgres:11
    ports:
      - "5432:${DB_PORT}"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    networks:
      - infra_postgres
    volumes:
      - pg-data:/var/lib/postgresql/data

  etcd1:
    image: gcr.io/etcd-development/etcd:v3.3
    restart: unless-stopped
    healthcheck:
      test: "etcdctl endpoint health"
      interval: 1m
      timeout: 10s
      retries: 3
    command: /usr/local/bin/etcd --data-dir=/etcd-data
    environment:
      ETCDCTL_API: 3
      ETCD_DEBUG: 1
      ETCD_INITIAL_ADVERTISE_PEER_URLS: http://127.0.0.1:2380
      ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
      ETCD_LISTEN_PEER_URLS: http://0.0.0.0:2380
      ETCD_ADVERTISE_CLIENT_URLS: http://127.0.0.1:2379
      ETCD_INITIAL_CLUSTER: default=http://127.0.0.1:2380
    ports:
      - "2379:2379"
      - "2380:2380"
    volumes:
      - ./data:/etcd-data
  
  # Support Services

  # Domain Services
  server:
    image: node:10
    ports:
      - "3000:${SERVER_PORT}"
    environment:
      SERVER_PORT: ${SERVER_PORT}
      DB_TYPE: ${DB_TYPE}
      DB_HOST: "postgres"
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
    working_dir: "/server"
    command: ["bash", "-c", "yarn && yarn run start:dev"]
    volumes:
      - ./server/:/server/:z
    networks:
      - infra_postgres
      - infra_api
    depends_on: ["postgres"]

  continuum-auth:
    image: node:10
    ports:
      - "3001:3001"
    working_dir: "/continuum-auth"
    command: ["bash", "-c", "yarn && yarn start:dev"]
    volumes:
      - ./continuum-auth/:/continuum-auth/:z
    networks:
      - infra_api

  client:
    image: node:10
    ports:
      - "9000:${CLIENT_PORT}"
    working_dir: "/client"
    command: ["bash", "-c", "yarn && yarn run start --host 0.0.0.0"]
    volumes:
      - ./client/:/client/:z
    environment:
      CLIENT_PORT: ${CLIENT_PORT}
      CLIENT_API_URL: ${CLIENT_API_URL}
      CLIENT_API_PROXY_URL: "http://server"
      CLIENT_API_PROXY_ENDPOINT: ${CLIENT_API_PROXY_ENDPOINT}
      SERVER_PORT: ${SERVER_PORT}
    networks:
      - infra_api
    depends_on: ["server"]

networks:
  infra_postgres:
  infra_api:

volumes:
  pg-data:
