@import "../../core/styles/_config";
@import "../../core/styles/_mixins";

.dashboard {
  font-family: Noto Sans, Arial, Helvetica, sans-serif, sans-serif;
  padding-bottom: 7.5em;

  @include forSize('tabletLandscapeUp') {
    padding-bottom: 0;
    margin-left: 16.666%;
    margin-right: 16.666%;
  }
}

.dashboard__new_submission {
  margin-bottom: 0.375rem;
  margin-top: 1.5rem;
}

.submission-entry {
  border-bottom: 0.063rem solid $borderColour;
  display: flex;

  @include forSize('tabletPortraitUp') {
    flex-direction: row;
    align-items: flex-start;
    padding: 1.875rem 0;
  }
}

.submission-entry__link {
  color: $colourText;
  text-decoration: none;
  width: 95%;

  :hover {
    color: $colourPrimary;
  }
}

.submission-entry__link--submitted, .submission-entry__link--rejected {
  pointer-events: none;
}

.submission-entry__content {
  @include forSize('tabletPortraitUp') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.submission-entry__title {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  font-family: "Noto Sans SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;

  @include forSize('tabletPortraitUp') {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}

.submission-entry__title--continue_submission {
  color: $colourText;
}

.submission-entry__title--rejected {
  color: $colourError;
}

.submission-entry__title--submitted {
  color: $colourTextLarge;
}

.submission-entry__link_text {
  @include forSize('tabletPortraitUp') {
    flex: 0 0 7.5rem;
    margin-bottom: 0;
  }
}

.submission-entry-entry__link_text--continue_submission {
  color: $colourPrimary;
}

.submission-entry__link_text--rejected {
  color: $colourError;
}

.submission-entry__link_text--submitted {
  color: $colourTextLarge;
}

.submission-entry__dates {
  color: $colourTextLarge;
  justify-content: space-between;
  display: flex;

  @include forSize('tabletPortraitUp') {
    flex-direction: column;
    text-align: right;
    flex: 0 0 7.5rem;
    justify-content: flex-start;
  }

  .submission-entry__date {
    @include forSize('tabletPortraitUp') {
      font-size: 0.75rem;
    }
  }
}

.submission-entry__icon_container {
  width: 5%;
}

.submission-entry__icon.MuiSvgIcon-root {
  margin-left: 1.5rem;
  display: none;
  fill: $colourTextLarge;

  @include forSize('tabletPortraitUp') {
    display:inline-block;
  }
}

.dashboard__button_container {
  @include forSize('phoneOnly') {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-top: $border;
    background-color: $white;
    padding-bottom: 1.125rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }

  @include forSize('tabletPortraitUp') {
    text-align: right;
    margin-bottom: 0.375rem;
    margin-top: 1.5rem;
    display: block;
  }
}

.dashboard__tabs {
  min-height: 29.688rem;
  margin-bottom: 1.5rem;
}

.dashboard__tabs_list {
  display: none;
  @include forSize('tabletPortraitUp') {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}

.dashboard__tab {
  padding: 1.5rem;
  list-style: none;
  cursor: pointer;
  border-bottom: 0.25rem solid transparent;
  margin-bottom: -0.063rem;
  color: $colourTextLarge;
  &:hover {
    color: $colourPrimary;
  }

  &.react-tabs__tab--selected {
    border-bottom-color: $colourPrimary;
    color: $colourText
  }

  &.react-tabs__tab--disabled {
    cursor: default;
  }
}

.dashboard__tab_panel {
  display: none;
  &.react-tabs__tab-panel--selected {
      display: block;
      @include forSize('tabletPortraitUp') {
        border-top: 0.063rem solid $borderColour;
    }
  }
}
