.appbar {
  display: flex;
  align-items: center;
  // TODO: variables! maybe ems?
  height: 72px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 0;
  justify-content: space-between;
  margin-bottom: 72px;
  padding-left: 24px;
  padding-right:24px;
}