.button {
  background: $colourSecondary;
  border: 1px solid $borderColour;
  border-radius: 3px;
  color: $bodyText;

  &:focus,
  &:hover {
    background-color: darken($colourSecondary, 10%);
    transition: 0.2s ease;
  }

  &:active {
    background-color: darken($colourSecondary, 20%);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:focus,
    &:hover,
    &:active {
      background: $colourSecondary;
    }
  }

  font-size: 14px;
  line-height: 18px;
  padding: 12px 18px 9px 18px;
  text-transform: uppercase;
  font-family: $fontHeading;
  font-weight: 400;
  min-width: 120px;
  height: 48px;
}

.button--primary {
  background: $colourPrimary;
  color: $colourTextReverse;
  &:focus,
  &:hover {
    background-color: darken($colourPrimary, 10%);
  }

  &:active {
    background-color: darken($colourPrimary, 20%);
  }
}

.button--danger {
  background: $colourDanger;
  color: $colourTextReverse;
  &:focus,
  &:hover {
    background-color: darken($colourDanger, 10%);
  }

  &:active {
    background-color: darken($colourDanger, 20%);
  }
}
