.excluded-toggle__panel {
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 0.188rem;
  border: $border;
}

.excluded-toggle__label {
  line-height: 1.5rem;
}

.excluded-toggle__action {
  color: $colourPrimary;
  border: none;
  font: inherit;
  padding: 0;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.excluded-toggle__panel-header {
  display: flex;
  align-items: flex-start
}

.excluded-toggle__panel-heading {
  flex-grow: 1;
  margin-top: 0;
}

.excluded-toggle__close-button {
  border: none;
  padding: 0;
  cursor: pointer;
}