.image-attributed__image {
  width: 75%;
  height: 100%;
  display: none;
  margin-left: auto;
  @include forSize('tabletPortraitUp') {
    display: block;
  }
}

.image-attributed__image--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-attributed__image--credit {
  color: $colourTextLarge;
  font-size: 12px;
  text-align: right;

  a {
    color: inherit;
    text-decoration: underline;
  }
}