.menu__list {
  display: none;
  flex-direction: row;
  flex: 1 0 auto;
  height: 4.5rem;
  @include unstyledList;
  @include forSize('tabletPortraitUp') {
    display: flex;
  }
}

.menu__item {
  margin: 1.5rem 0;
  height: 1.5rem;
}

.menu__item--first {
    padding-left: 0.75rem;
    border-left: 1px solid $borderColour;
}

.menu__link {
  padding: 0 0.75rem;
  color: $textColourMuted;
  display: inline-block;
  text-decoration: none;
}
.menu__link--active {
  color: $bodyText;
}
