.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  background: rgba(255,255,255, 0.9);
  transition: opacity 0.2s ease;
  overflow-y: auto;
}

.modal__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal {
  width: 25.5rem;
  background-color: $white;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.33);
}

.modal__fullscreen {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-y: auto;
  position: fixed;

  .modal__content {
    margin-bottom: 8.25rem;
  }
}

.modal__separator {
  width: 100%;
  height: 1px;
  background-color: $borderColour;
  margin-top: auto;
  margin-bottom: 2.25rem;
}

.modal__buttons_container {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 0.75rem;
}

.modal__buttons_container--fullscreen {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid $borderColour;
  position: fixed;
  padding-top: 2.25rem;
  bottom: 0;
  height: 8.25rem;
  background-color: $white;
}

.modal__buttons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}

.modal__buttons--fullscreen {
  justify-content: flex-start;
  margin-bottom: 3rem;
  
  button {
    margin-right: 1.5rem;
  }
}
