.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  background: rgba(255,255,255, 0.9);
  transition: opacity 0.2s ease;
  overflow-y: auto;
}

.modal__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 408px;
  background-color: $white;
  text-align: center;
  padding: 24px;
}

.modal__fullscreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal__content--fullscreen {
  @include forSize('tabletLandscapeUp') {
    margin-left: 16.666%;
    margin-right: 16.666%;
  }
}

.modal__separator {
  width: 100%;
  height: 1px;
  background-color: $borderColour;
  margin-top: auto;
  margin-bottom: 36px;
}

.modal__buttons {
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}

.modal__buttons--fullscreen {
  justify-content: flex-start;

  @include forSize('tabletLandscapeUp') {
    margin-left: 16.666%;
    margin-right: 16.666%;
  }

  button {
    margin-right: 1.5rem;
  }
}
