.paragraph {
  font-family: $fontWriting;
  line-height: $lineHeightBase;

  margin-top: 0;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.paragraph--secondary {
  color: $colourTextLarge;
}

.paragraph--small {
  font-size: $fontSizeSmall;
  line-height: $lineHeightBaseSmall;
}

.paragraph--reading {
  font-family: $fontReading;
}

.paragraph--footer {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  .footer__link {
    color: $colourPrimary;
    text-decoration: none;
  }
}
