.people-picker__modal_list {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  @include twoColumnGrid;
}
.people-picker__selector_container {
  padding-top: 2rem;
  text-align: left;
}

.people-picker__modal_list--item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 1.5rem;
}

.people-picker__search_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: 2rem;

  .text-field{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 50%;
    @include forSize('phoneOnly') {
      width: 100%;
    }
  }
  .typography__label--helper-text {
    min-height: 0;
    margin: 0;
  }
  .text-field__input_container {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.people-picker__guidance {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 50%;
  text-align: right;
  @include forSize('phoneOnly') {
    width: 100%;
  }
}

.people-picker__selected-tabs {
  min-height: 4.5rem;
  margin-left: -0.375rem;
  margin-right: -0.375rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.people-picker__selected-tab {
  display: inline-flex;
  margin: 0.5rem 0.375rem;
}
