.people-picker__modal_list {
  height: 65vh;
}

.people-picker__modal_list--item {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
  display: inline-block;
}

.people-picker__search_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text-field{
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
    @include forSize('phoneOnly') {
      width: 100%;
    }
  }
  .people-picker__guidance {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
    text-align: right;
    @include forSize('phoneOnly') {
      width: 100%;
    }
  }
}