.pod {
  border: $border;
  border-radius: 0.188rem;
  background-color: $colourSecondary;
  height: 7.5rem;
  display: flex;
  justify-content: space-between
}

.pod__error {
  border: $borderError;
}

.pod__body {
  padding: 0.75rem;
}

.pod__button {
  border: none;
  font-size: 0;
  width:3rem;
  background-color: transparent;
  cursor: pointer;
  color: $colourTextSecondary;
}
