.profile_dropdown {
  position: relative;
  .profile_dropdown__button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:focus {
      outline:none
    }
  }
  .profile_dropdown__arrow {
    margin-bottom: -0.25rem;
    margin-left: 0.25rem;
    border-width: 0.25rem;
    border-style: solid;
    border-color: rgb(33, 33, 33) transparent transparent;
    border-image: initial;
  }
  .profile_dropdown__panel {
    position: absolute;
    top: 2.25rem;
    right: 0;
    max-width: 200px;
    z-index: 1400;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 0.75rem 0;
  }
  .profile_dropdown__item {
    white-space: nowrap;
    padding: 0.75rem;
  }
  .profile_dropdown__panel-heading {
    font-family: "Noto Sans SemiBold", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-overflow: ellipsis;
    border-bottom: 1px solid $borderColour;
    padding: 0.75rem;
    overflow: hidden;
  }
  .profile_dropdown__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .profile_dropdown__link {
    display: block;
    text-decoration: none;
    color: $colourText;
    &:hover {
      color: $colourTextReverse;
      background-color: $colourPrimary;
    }
  }
}