// TODO: use variables not fixed values
.progress_bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.25rem 1.25rem 4.5rem
}

.progress_bar--fixed_width_centered {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.progress_bar__step {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 20px;
  width: 20px;
  background-color: rgb(224, 224, 224);
  border-style: solid;
  border-image: initial;
  border-radius: 50%;
  border-color: rgb(224, 224, 224);
  border-width: 4px;
}

.progress_bar__step--activated {
  background-color: rgb(255, 255, 255);
  border-color: rgb(2, 136, 209);
}
.progress_bar__step--current {
  background-color: rgb(255, 255, 255);
  border-color: rgb(2, 136, 209);
}
.progress_bar__bullet {
  background-size: 10px;
  background-color: inherit;
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 12px;
  height: 18px;
  justify-content: center;
  width: 18px;
  border-radius: 50%;
}

.progress_bar__bullet--current {
  background-color: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
}

.progress_bar__bullet--activated {
  background-color: rgb(2, 136, 209);
  .progress_bar__icon {
    font-size: 1rem;
  }
}

.progress_bar__divider {
  background-color: rgb(224, 224, 224);
  height: 4px;
  flex: 1 1 0%;
}
.progress_bar__divider--activated {
  background-color: rgb(2, 136, 209);
}
.progress_bar__divider--current {
  background-color: rgb(2, 136, 209);
}

.progress_bar__text {
  position: absolute;
  text-align: center;
  top: 25px;
  white-space: normal;
  width: 120px;
  line-height: 18px;
  font-size: 14px;
  color: rgb(224, 224, 224);
}

.progress_bar__text--activated {
  color: $bodyText;
}