.selected_people_list {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  @include twoColumnGrid;
}

.selected_people_list__item {
  padding: 0.75rem;
  overflow: hidden;
  display: inline-block;
}

.selected_people_list__pod-content {
  display: flex;
  height: 100%;
  align-items: center;
}
