.select-field {
  display: flex;
  flex-flow: column;
  width: 100%;

  &.select-field--error {
    .select-field__control {
      border: $borderError;
    }
  }

  .select-field__value-container {
    padding: 0;
  }

  .select-field__control {
    height: 48px;
    border: $border;
    border-radius: $borderRadius;
    background-color: $white;
    width: 408px;

    &.select-field__control--menu-is-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: $borderWidth $borderStyle rgb(8, 122, 204);
      box-shadow: 0 2px 20px 0 rgba(33,33,33,0.11);
    }
  }

  .select-field__indicator-separator {
    display: none;
  }

  .select-field__indicator.select-field__clear-indicator {
    display: none;
  }

  .select-field__indicator.select-field__dropdown-indicator {
    color: $colourText
  }

  .select-field__multi-value {
    background-color: $colourPrimary;
    margin: 5px 3px 5px 5px;

    .select-field__multi-value__label {
      color: $white;
      padding: 6px 3px 6px 12px,
    }

    .select-field__multi-value__remove {
      padding: 0 6px 0 0;
      color: $white;
      font-size: $fontSize;
      background-color: $colourPrimary;

      &:hover {
        cursor: pointer;
        background-color: $colourPrimary;
        color: $colourTextReverse;
      }
    }
  }

  .select-field__menu {
    margin-top: 0;
    border: $borderWidth $borderStyle rgb(8, 122, 204);
    border-top: 0;
    border-radius: 0 0 $borderRadius $borderRadius;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.33);

    .select-field__menu-list {
      padding: 0;
    }

    .select-field__option--is-focused {
      background-color: $colourPrimary;
      color: $white;
    }

    .select-field__option--is-selected  {
        background-color: $colourPrimary;
    }
  }
}


