events {
    worker_connections 2000;
}

http {
  server {
    listen ${CLIENT_PORT};

    location /graphql {
      # This **needs** to use an environment variable for prod
      proxy_pass ${CLIENT_API_PROXY_URL}:${SERVER_PORT};
    }

    location / {
      index /index.html
      try_files $uri /index.html;

      root /usr/share/nginx/html;
    }
  }
}
